
<!doctype html>
<html>
  <head>
  	<link href='http://fonts.googleapis.com/css?family=Yellowtail|Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'/>
  	<style type='text/css'>
	  	<title>Sketchy 1.0</title>
	  	
	  	body { font-family: "Open Sans", sans-serif; background-color: #222222; padding:2%;}
	    h1, h2, h3, h4 { font-family: Yellowtail; font-weight: normal; color: #F2F218; }
		#wrapper { width: 100%; margin: 0 auto; text-align:center; }
	    header { text-align: center; }
	    header h1 { font-size: 46px; text-align: center; margin: 15px 10px; }
	    article h1 { font-size: 26px; margin: 0 0 15px; text-align: left;}
	  	
	  	article canvas {
	    	width: 90%;
	    	height: 700px;
	    	border: 1px solid #ccc;
	    	background-color: white; 
	 
    		margin-top: 0.5%;
    		margin-bottom: 2%;
    		margin-right: 3%;
   			margin-left: 3%;
	    }
	    @media (max-width: 900px) {
        	header, h1 {
          	display:none;
        	}
        	canvas {
          	width:95%;
        	}
            }
      
	    
	    body { background: #222222;}
  	</style>
  </head>

  <body>
    <!-- Maybe we need to use Ruby form helper. -->
    <form style="display:none" id="form" action="/submissions/save" method="post">
    <input type="text" id="textarea">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    </form>
    
  	<center><h1>Draw something here!</h1></center><br>
		<article class='example'>
		  	<div class="tools">
		  		<div class="buttons">
		  			<center>
		  			<a href="#simple_sketch" data-tool="marker"><button type="button", class="btn btn-info">Marker</button></a>
			  		<a href="#simple_sketch" data-tool="eraser"><button type="button", class="btn btn-info">Eraser</button></a>
			  		<a href='#simple_sketch' data-clear='true'><button id ="clear", type="button", class="btn btn-info">Clear</button></a>
			  	</center>
			  	   
		  		</div>
			</div>

		 	<center>
		 		<canvas id="simple_sketch" width='1700' height='700'></canvas>
        <script src="sketch.js"></script>
				<script type="text/javascript">
		  			$(function() {
		    		$('#simple_sketch').sketch();
		  			});
				</script>

			</center>

      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Type your Username</h4>
        </div>
        <div class="modal-body">
      
          <form id="username">
            <input type="text" name="user" id="input">
            
          </form>
        </div>
        <div class="modal-footer">
          <div id="submit">
            <%=button_to "Submit", welcome_submit_path, :method => "get", class: "btn btn-small btn-success"%> </div>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

			<div>
				<center><button type="button" class="btn btn-default" data-toggle="modal"  data-target="#myModal">

          submit </button>
        </div></center>
				<br>
			</div>
		</article>
  </body>


<script>
		
        $("#submit").click(function(){
           var canvas = document.getElementById("simple_sketch");
			     var dataURL = canvas.toDataURL("image/png");
           var user = document.getElementById("input");
           //user= String(user); 



           var str= $('input').serialize(); 
         
             // Get our file
            var file= dataURLtoBlob(dataURL);

            // Create new form data
            var fd = new FormData();

             // Append our Canvas image file to the form data
            fd.append("image", file);
            fd.append("user", str); 
            //alert(fd); 
            // And send it
            $.ajax({
               url: "/submissions/save",
               type: "POST",
               data: fd, 
               processData: false,
               contentType: false,
            });

           });
           


           function dataURLtoBlob(dataURL) {
            // Decode the dataURL    
            var binary = atob(dataURL.split(',')[1]);
            // Create 8-bit unsigned array
            var array = [];
            for(var i = 0; i < binary.length; i++) {
                array.push(binary.charCodeAt(i));
            }
            // Return our Blob object
            return new Blob([new Uint8Array(array)], {type: 'image/png'});
            }
    

</script>

</html>



