
<!doctype html>
<html>
  <head>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
  	<link href='http://fonts.googleapis.com/css?family=Yellowtail|Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'/>
  	<style type='text/css'>
	  	<title>Sketchy 1.0</title>
	  	
	  	body { font-family: "Open Sans", sans-serif; background-color: #222222; padding:2%;}
	    h1, h2, h3, h4 { font-family: Yellowtail; font-weight: normal; color: #F2F218; }
	    header { text-align: center; }
	    header h1 { font-size: 46px; text-align: center; margin: 15px 10px; }
	    article h1 { font-size: 26px; margin: 0 0 15px; text-align: left;}
	  	
	  	.canvas { background-color:white; width:90%;}
      .canvas #simple_sketch {
        position:relative;
        width:100%;        
        border: 1px solid #ccc;
        margin-top: 0.5%;
      }

      .canvas #tmp_canvas {
        position:absolute;
        cursor:crosshair;
      }
	    @media (max-width: 900px) {
        	header, h1 {
          	display:none;
        	}
        	canvas {
          	width:95%;
        	}
            }
      
	    
	    body { background: #222222;}
  	</style>
  </head>

  <body>
    <!-- Maybe we need to use Ruby form helper. -->
    <form style="display:none" id="form" action="/submissions/save" method="post">
    <input type="text" id="textarea">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    </form>
    
  	<center><h1>Draw something here!</h1></center><br>
		<article class='example'>
		  	<div class="tools">
		  		<div class="buttons">
		  			<center>
			  		<a href='#simple_sketch' data-clear='true'><button id ="clear", type="button", class="btn btn-info">Clear</button></a>
			  	</center>
			  	   
		  		</div>
			</div>

		 	<center>
        <article class='canvas'>
        
            <div id="simple_sketch">
		 		<canvas id="simple_sketch" width='1700' height='700'></canvas>
			<script src="javascript.js"></script>
        </div>
        </article>
			</center>

			<div>
				<center><div id="submit" style="color:white">Submit</div></center>
				<!-- <%=button_to "Submit", welcome_submit_path, :method => "get", class: "btn btn-small btn-success"%>  -->
				<br>
			</div>
		</article>
  </body>


<script>
		
        $("#submit").click(function()
        	
           {
           	var canvas = document.getElementById("simple_sketch");
			var dataURL = canvas.toDataURL("image/png");
          
            
             // Get our file
            var file= dataURLtoBlob(dataURL);
            // Create new form data
            var fd = new FormData();
             // Append our Canvas image file to the form data
            fd.append("image", file);
            // And send it
  $.ajax({
     url: "/submissions/save",
     type: "POST",
     data: fd,
     processData: false,
     contentType: false,
  });
           }     );
           
           function dataURLtoBlob(dataURL) {
            // Decode the dataURL    
            var binary = atob(dataURL.split(',')[1]);
            // Create 8-bit unsigned array
            var array = [];
            for(var i = 0; i < binary.length; i++) {
                array.push(binary.charCodeAt(i));
            }
            // Return our Blob object
            return new Blob([new Uint8Array(array)], {type: 'image/png'});
            }
    
</script>

</html>
